.brand-area-one {
    .brand-wrapper {
        .sub-title {
            color: $gt-text-color-3;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 60px;
        }

        .brand-content {
            .title {
                color: $gt-black;
                text-align: center;
                font-size: 50px;
                font-style: normal;
                font-weight: 400;
                line-height: 60px;
                text-transform: uppercase;

                .no-split {
                    @include breakpoint (max-md) {
                        width: 160px;
                        display: inline-block;
                    }

                    @include breakpoint (max-xs) {
                        width: 120px;
                    }

                    @include breakpoint (max-xxs) {
                        width: 90px;
                    }
                }

                @include breakpoint (max-lg) {
                    font-size: 35px;
                    line-height: 45px;
                }

                @include breakpoint (max-md) {
                    font-size: 28px;
                    line-height: 36px;
                }

                @include breakpoint (max-xs) {
                    font-size: 25px;
                    line-height: 35px;
                }

                @include breakpoint (max-xxs) {
                    font-size: 18px;
                    line-height: 26px;
                }

                @include breakpoint (max-xxsmall) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            &.style-2 {
                .title {
                    color: $gt-text-color-6;
                    text-align: center;
                    font-family: $gt-secondary-font-2;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 80px;
                    max-width: 1410px;
                    text-transform: lowercase;
                    margin: 0 auto;

                    @include breakpoint (max-xl) {
                        font-size: 47px;
                        line-height: 56px;
                    }

                    @include breakpoint (max-lg) {
                        font-size: 40px;
                        line-height: 52px;
                    }

                    @include breakpoint (max-md) {
                        font-size: 30px;
                        line-height: 37px;
                    }

                    @include breakpoint (max-xxsmall) {
                        font-size: 25px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}