.contact-form {
    &.style-2 {
        background: #f9eff1;
        padding: 40px 45px;
        position: relative;

        @include breakpoint (max-sm) {
            padding: 20px;
        }

        &::after {
            content: '';
            border: 1px solid #121212;
            width: 690px;
            height: 572px;
            background: #fff;
            position: absolute;
            top: 30px;
            left: 30px;
            z-index: -1;

            @include breakpoint (max-xxxl) {
                width: 100%;
                height: 100%;
            }
        }

        form {
            label {
                font-family: $gt-body-font-1;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                letter-spacing: -0.01em;
                color: #121212;
                margin-bottom: 15px;
            }

            input,
            select,
            textarea,
            .form-control {
                background: $gt-white !important;
                padding: 0;
                border: none !important;
                height: 54px;
                padding: 20px;
                margin-bottom: 25px;
            }

            .simple-btn-black {
                .gt-hover-btn {
                    border-radius: 4px !important;
                }
            }

            textarea.form-control,
            textarea {
                min-height: 124px !important;
            }
        }
    }

    &.style-3 {
        background: #fff;
        padding: 70px 90px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-md) {
            padding: 30px;
        }

        @include breakpoint (max-xxs) {
            padding: 10px;
        }

        .title {
            font-family: $gt-secondary-font-2;
            font-weight: 500;
            font-size: 36px;
            line-height: 37px;
            letter-spacing: 0em;
            text-align: left;
            color: #121212;
            margin-bottom: 25px;

            @include breakpoint (max-md) {
                text-align: center;
                margin-bottom: 25px;
                font-size: 24px;
                line-height: 30px;
            }
        }

        .text {
            font-family: $gt-body-font-1;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: center;
            text-transform: capitalize;
            color: #555555;
            margin-bottom: 40px;
        }

        input,
        select,
        textarea,
        .form-control {
            font-family: $gt-body-font-1;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #555555;
            text-transform: capitalize;
            margin-bottom: 0;
        }

        textarea.form-control,
        textarea {
            resize: vertical;
            min-height: 70px !important;
            padding: 0;
            overflow: hidden;
            margin-top: 40px;
        }

    }

    &.style-1 {

        input,
        select,
        textarea,
        .form-control {
            color: $gt-white;
            border-bottom: 1px solid $gt-white !important;

            &::placeholder {
                color: $gt-white;
            }
        }
    }

    form {

        input,
        select,
        textarea,
        .form-control {
            border: none !important;
            border-bottom: 1px solid $gt-border-color-1 !important;
            background-color: transparent !important;
            box-shadow: none !important;
            border-radius: 0 !important;
            color: $gt-black;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.16px;
            text-transform: uppercase;
            padding: 0 0 20px 0;
            margin-bottom: 40px;

            @include breakpoint(max-md) {
                margin-bottom: 20px;
            }

            &:focus {
                outline: none !important;
                box-shadow: none !important;
                border-bottom: 1px solid $gt-theme-color !important;
            }

            &::placeholder {
                color: $gt-black;
            }
        }

        // Select specific styles
        select.form-control {
            appearance: none;
            background: transparent url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C4.90237 8.68342 4.90237 9.31658 5.29289 9.70711L11.2929 15.7071C11.6834 16.0976 12.3166 16.0976 12.7071 15.7071L18.7071 9.70711C19.0976 9.31658 19.0976 8.68342 18.7071 8.29289C18.3166 7.90237 17.6834 7.90237 17.2929 8.29289L12 13.5858L6.70711 8.29289C6.31658 7.90237 5.68342 7.90237 5.29289 8.29289Z' fill='black'/></svg>") no-repeat right 12px center !important;
            background-size: 16px;
            padding-right: 40px;
        }

        // Textarea specific styles
        textarea.form-control,
        textarea {
            resize: vertical;
            margin-bottom: 0;
            height: 50px;
            min-height: 50px !important;
            padding: 60px 0 40px 0;
            overflow: hidden;
        }

        .gt-hover-btn-wrapper {
            margin-top: 50px;
            display: flex;
            justify-content: center;

            .gt-hover-btn {
                padding: 0 24px;
            }
        }
    }
}

.form-check-label {
    font-family: $gt-body-font-1;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    text-transform: capitalize;
    color: #9e9ea3;

    a {
        color: $gt-white;
    }
}