
body.loaded {
    overflow: hidden !important;
    height: 100% !important;
}

.loader-wrap {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    z-index: 99999999999999;
}


.loader-wrap svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 110vh;
    fill: #121212;
}

.loader-wrap .loader-wrap-heading .load-text {
    font-size: 62px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: uppercase;
    z-index: 20;
    font-family: $gt-secondary-font;
    color: $gt-white;

    @include breakpoint (max-lg) {
        font-size: 40px;
    }

    @include breakpoint (max-sm) {
        font-size: 20px;
    }
}

.load-text span {
    -webkit-animation: loading 1s infinite alternate;
    animation: loading 1s infinite alternate;
}

.load-text span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.load-text span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.load-text span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.load-text span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.load-text span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.load-text span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.load-text span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@-webkit-keyframes loading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.containers {
    position: inherit;
}


.gt-back-to-top {
    background-color: $gt-theme-color;
    width: 50px;
    height: 50px;
    line-height: 40px;
    color: $gt-black;
    font-size: 16px;
    position: fixed;
    display: inline-block;
    z-index: 999;
    right: 30px;
    bottom: 30px;
    @include transition;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    border-radius: 4px;


    &:hover {
        background-color: $gt-header-color;
        color: $gt-white;

        img {
            animation: slideUp 600ms;
        }
    }

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
    }
}

.cursor-outer {
    -webkit-margin-start: -12px;
    margin-inline-start: -12px;
    margin-top: -12px;
    width: 30px;
    height: 30px;
    border: 1px solid $gt-theme-color;
    background-color: $gt-theme-color;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    opacity: 0.34;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.cursor-outer.cursor-hover {
    opacity: 0.14;
}

.cursor-outer.cursor-big {
    opacity: 0;
}

.mouseCursor {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
    text-align: center;
}

.mouseCursor.cursor-big {
    width: 20px;
    height: 20px;
    -webkit-margin-start: -12px;
    margin-inline-start: -12px;
    margin-top: -12px;
}

.cursor-inner {
    -webkit-margin-start: -3px;
    margin-inline-start: -3px;
    margin-top: -3px;
    width: 10px;
    height: 10px;
    z-index: 10000001;
    background-color: $gt-theme-color;
    opacity: 1;
    -webkit-transition: all 0.24s ease-out 0s;
    transition: all 0.24s ease-out 0s;

    span {
        color: $gt-text-color;
        line-height: 60px;
        opacity: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }
}

.cursor-inner.cursor-big {
    span {
        opacity: 1;
    }
}

.cursor-inner.cursor-hover {
    -webkit-margin-start: -10px;
    margin-inline-start: -10px;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    background-color: $gt-theme-color;
    border: 1px solid #686363;
    opacity: 0;
}





.gt-page-nav-wrap {
    ul {
        @include flex;
        gap: 10px;
        justify-content: center;

        li {
            display: inline-block;
            border-radius: 4px;

            &:first-child {
                border: 1px solid #BFBFBF;

                a {
                    color: $gt-theme-color;
                    background-color: transparent;
                }
            }

            &:last-child {
                border: 1px solid $gt-theme-color;

                a {
                    color: $gt-theme-color;
                    background-color: transparent;
                }
            }

            .gt-page-numbers {
                &.current {
                    background-color: $gt-theme-color;
                    color: $gt-white;
                }

                display: inline-block;
                width:50px;
                height:50px;
                line-height:50px;
                background: transparent;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
                color: $gt-header-color;
                text-align: center;
                background-color: $gt-bg-color;
                border: 1px solid transparent;
                border-radius: 4px;

                @media (max-width: 767px) {
                    margin-top: 10px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 14px;
                }

                i {
                    margin-top: 2px;
                }

                &:hover {
                    background-color: $gt-theme-color;
                    color: $gt-white;
                }
            }
        }
    }
}