.solutions-area-one {
    .solutions-wrapper {
        position: relative;
        background: $gt-white;
        z-index: 9;

        .section-title-two {
            margin-bottom: 75px;

            @include breakpoint (max-md) {
                margin-bottom: 40px;
            }

            .title-left-content {
                width: 33%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                max-height: 100%;

                .text {
                    max-width: 451px;

                    @include breakpoint (max-lg) {
                        display: none;
                    }
                }
            }

            .title-right-content {
                .title {
                    @include breakpoint(max-md) {
                        font-size: 45px;
                        line-height: 55px;
                    }
                }
            }

            .title-right-content {
                .title {
                    max-width: 857px;
                }
            }
        }

        .solutions-content {
            .thumb {
                display: flex;
                align-items: end;
                gap: 133px;
                margin-top: -200px;
                margin-bottom: 57px;
            }

            .text {
                font-family: $gt-body-font;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: -0.01em;
                text-align: left;
                text-transform: capitalize;
                color: #555555;
                max-width: 450px;
                margin-bottom: 50px;
            }

            .left-bottom-content {
                .award-info {
                    .info-items {
                        display: flex;
                        align-items: center;
                        gap: 85px;

                        span {
                            font-family: $gt-body-font;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 26px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #555555;
                            width: 40px;
                        }

                        .info-content {
                            font-family: $gt-body-font;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 28px;
                            letter-spacing: -0.01em;
                            text-align: left;
                            text-transform: capitalize;
                            color: #555555;
                            padding-top: 20px;
                            padding-bottom: 25px;
                            border-bottom: 1px solid rgba(18, 18, 18, 0.20);
                            width: 100%;
                        }
                    }
                }
            }

            .main-thumb{
                margin-left: 45px;

                @include breakpoint (max-lg){
                    margin-left: 0;
                }
            }
        }
    }
}

.solutions-wrapper1 {
    .solutions-content {
        

        .thumb {
            display: flex;
            align-items: end;
            gap: 140px;
            margin-bottom: 50px;
            margin-left: -20px;
            margin-top: 55px;

            @include breakpoint (max-xxl){
                gap: 50px;
            }

            @include breakpoint (max-xl){
                gap: 30px;
                flex-wrap: wrap;
                margin-left: 0;
            }

            @include breakpoint (max-md){
                margin-top: 25px;
                margin-bottom: 25px;
            }

            .thumb1 {
                width: 100%;
                max-width: 312px;
            }
        }

        .text {
            max-width: 430px;
            color: #555555;
            font-weight: 400;
            margin-bottom: 50px;
        }

        .left-bottom-content {
            .award-content {
                max-width: 570px;

                ul {
                    border-top: 1px solid rgba(18, 18, 18, 0.2);
                    padding-top: 30px;

                    li {
                        @include flex;
                        gap: 80px;
                    }
                }

                .award-list-items {
                @include flex;
                gap: 85px;

                @include breakpoint (max-xl){
                    gap: 40px;
                }
                
                &.bb-bottom {
                    span {
                    border-bottom: 1px solid rgba(18, 18, 18, 0.2);
                    }
                }
                
                span {
                    width: 100%;
                    display: inline-block;
                    border-top: 1px solid rgba(18, 18, 18, 0.2);
                    padding: 33px 0
                }
                }
            }
        }
    }

    .award-right1 {
        .section-title {
            margin-left: -30%;
            width: 860px;
            margin-bottom: 70px;

            @include breakpoint (max-xxl){
                width: initial;
            }

            @include breakpoint (max-lg){
                margin-left: 0;
                
            }

            .title {
                @include breakpoint (max-xxl){
                    font-size: 64px;
                }
                @include breakpoint (max-xl){
                    font-size: 55px;
                    line-height: 130%;
                }

                @include breakpoint (max-md){
                    font-size: 42px;
                    line-height: 130%;
                }
            }
        }

        .main-thumb {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


.blog-page-area21{
    padding-bottom: 150px;

    @include breakpoint (max-xl){
        padding-bottom: 50px;
    }
}