/*----------------------------------------*/
/*  1.3 Default Spacing
/*----------------------------------------*/

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 300 {
    .mt-#{1 * $i} {
        margin-top: 1px * $i;
    }
}

/*-- Margin Bottom --*/
@for $i from 1 through 200 {
    .mb-#{1 * $i} {
        margin-bottom: 1px *$i;
    }
}

/*-- Margin Left --*/
@for $i from 1 through 150 {
    .ml-#{1 * $i} {
        margin-left: 1px * $i;
    }
}

/*-- Margin Right --*/
@for $i from 1 through 150 {
    .mr-#{1 * $i} {
        margin-right: 1px *$i;
    }
}

/*-- Padding Top --*/
@for $i from 1 through 300 {
    .pt-#{1 * $i} {
        padding-top: 1px *$i;
    }
}

/*-- Padding Bottom --*/
@for $i from 1 through 400 {
    .pb-#{1 * $i} {
        padding-bottom: 1px *$i;
    }
}

/*-- Padding Left --*/
@for $i from 1 through 130 {
    .pl-#{1 * $i} {
        padding-left: 1px *$i;
    }
}

/*-- Padding Right --*/
@for $i from 1 through 100 {
    .pr-#{1 * $i} {
        padding-right: 1px *$i;
    }
}


.pb-100 {
    @include breakpoint (max-lg) {
        padding-bottom: 70px;
    }

    @include breakpoint (max-md) {
        padding-bottom: 40px;
    }
}


.pt-100 {
    @include breakpoint (max-lg) {
        padding-top: 70px;
    }

    @include breakpoint (max-md) {
        padding-top: 40px;
    }
}

.mb-100 {
    @include breakpoint (max-lg) {
        margin-bottom: 70px;
    }

    @include breakpoint (max-md) {
        margin-bottom: 40px;
    }
}

.mt-100 {
    @include breakpoint (max-lg) {
        margin-top: 70px;
    }

    @include breakpoint (max-md) {
        margin-top: 40px;
    }
}

.mb-60 {
    @include breakpoint (max-md) {
        margin-bottom: 30px;
    }
}

.mb-50 {
    @include breakpoint (max-xl) {
        margin-bottom: 30px;
    }

    @include breakpoint (max-md) {
        margin-bottom: 30px;
    }
}

.mt-60 {
    @include breakpoint (max-md) {
        margin-top: 30px;
    }
}


.pt-150 {
    @include breakpoint (max-xxl) {
        padding-top: 100px;
    }

    @include breakpoint (max-lg) {
        padding-top: 70px;
    }

    @include breakpoint (max-md) {
        padding-top: 50px;
    }
}

.pb-150 {
    @include breakpoint (max-xxl) {
        padding-bottom: 100px;
    }

    @include breakpoint (max-lg) {
        padding-bottom: 70px;
    }

    @include breakpoint (max-md) {
        padding-bottom: 50px;
    }
}

.mt-150 {
    @include breakpoint (max-xxl) {
        margin-top: 100px;
    }

    @include breakpoint (max-lg) {
        margin-top: 70px;
    }

    @include breakpoint (max-md) {
        margin-top: 50px;
    }
}

.mb-150 {
    @include breakpoint (max-xxl) {
        margin-bottom: 100px;
    }

    @include breakpoint (max-lg) {
        margin-bottom: 70px;
    }

    @include breakpoint (max-md) {
        margin-bottom: 50px;
    }
}

.pb-75 {
    @include breakpoint (max-md) {
        padding-bottom: 30px;
    }
}

.pt-75 {
    @include breakpoint (max-md) {
        padding-top: 30px;
    }
}
.mb-75 {
    @include breakpoint (max-md) {
        margin-bottom: 30px;
    }
}

.mt-75 {
    @include breakpoint (max-md) {
        margin-top: 30px;
    }
}