.section-title {
    .sub-title {
        color: var(--gt-black);
        text-transform: uppercase;
    }
}

.section-title-two {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include breakpoint (max-md) {
        flex-direction: column;
        align-items: start;
        gap: 2%;
    }

    .title-left-content {
        width: 25%;

        @include breakpoint (max-md) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .sub-title {
            color: $gt-black;
            text-transform: uppercase;

            @include breakpoint (max-md) {
                max-width: 300px;
            }
        }

        .service-btn {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .title-right-content {
        width: 65%;

        .title {
            max-width: 774px;
        }
    }
}

.section-title-three {
    .title {
        color: $gt-black;
        text-align: center;
        font-family: Inter;
        font-size: 80px;
        font-style: normal;
        font-weight: 600;
        line-height: 85px;
        letter-spacing: -2.4px;

        @include breakpoint (max-lg) {
            font-size: 60px;
            line-height: 68px;
        }

        @include breakpoint (max-md) {
            font-size: 60px;
            line-height: 68px;
        }

        @include breakpoint (max-xxs) {
            font-size: 50px;
            line-height: 58px;
        }

        @include breakpoint (max-xxsmall) {
            font-size: 35px;
            line-height: 48px;
        }

        span {
            color: #000;
            font-family: Inter;
            font-size: 80px;
            font-style: normal;
            font-weight: 600;
            line-height: 85px;
            letter-spacing: -2.4px;


            @include breakpoint (max-md) {
                font-size: 60px;
                line-height: 68px;
            }

            @include breakpoint (max-xxs) {
                font-size: 50px;
                line-height: 58px;
            }

            @include breakpoint (max-xxsmall) {
                font-size: 35px;
                line-height: 48px;
            }
        }
    }
}

.section-title-four {
    .sub-title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $gt-text-color-6;
        font-family: $gt-body-font-1;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 10px;
    }

    .title {
        color: $gt-text-color-6;
        font-family: $gt-secondary-font-2;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: -1.2px;

        @include breakpoint (max-xxl) {
            font-size: 40px;
            line-height: 58px;
        }
        

        @include breakpoint (max-md) {
            font-size: 45px;
            line-height: 55px;
        }

        @include breakpoint (max-xs) {
            font-size: 40px;
            line-height: 50px;
        }

        @include breakpoint (max-xxsmall) {
            font-size: 31px;
            line-height: 45px;
        }

        @include breakpoint (max-xxxsmall) {
            font-size: 25px;
            line-height: 35px;
        }

        span {
            font-weight: 400;
        }
    }
}

.section-title-area {
    margin-bottom: 60px;
    @include flex;
    justify-content: space-between;

    @include breakpoint (max-xl){
        flex-wrap: wrap;
        gap: 20px;
    }

    .section-title {
        margin-bottom: 0;
    }
}


.hero-full-image {
    height: 100vh;

    @include breakpoint (max-xxl){
        display: none;
    }
}

.hero-area-two {
    position: relative;

    .hero-title-shape-2 {
         display: inline-block;
        position: relative;
        width: 375px;
        height: 200px;
    

        img {
              width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(0, 0);
            position: absolute;
            z-index: 1;
            max-width: 100vw;
            margin-left: 0px;
              will-change: transform;

              @include breakpoint (max-xxl){
                width: 100% !important;
                height: 100% !important;
                max-width: 100% !important;
            }
        }
    }
}

.section-title5 {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;


	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}


	h2 {
		color: $gt-black;
        font-size: 48px;
        line-height: 120%;
        font-weight: 500;

        @include breakpoint(max-xxl){
            font-size: 44px;
        }

        @include breakpoint(max-xl){
            font-size: 40px;
        }

        @include breakpoint(max-lg){
            font-size: 36px;
        }

        @include breakpoint(max-md){
            font-size: 40px;
        }

        @include breakpoint(max-sm){
            font-size: 36px;
        }


        @include breakpoint(max-xxs){
            font-size: 32px;
        }
	}

    .sub-title {
        color: $gt-black;
        font-family: $gt-body-font;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    h6 {
        color: $gt-black;
        font-family: $gt-body-font;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

	&.style-4 {
		

		h2 {
			font-weight: 600;
			color: $gt-black;
            font-family: $gt-body-font;
            text-transform: initial;
		}
	}
}