.video-area-two {
    .video-wrapper {
        position: relative;
        z-index: 1;

        .thumb {
            position: relative;
            z-index: 0;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.40);
            }

            .btn {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

        }

        .logo {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @include breakpoint (max-sm){
                display: none;
            }
        }
    }
}