.who-we-are-area-four {
    .who-we-are-wrapper {
        background: $gt-text-color-6;
        position: relative;

        .bg-shape-1 {
            position: absolute;
            left: 60px;
            top: 98px;
        }

        .bg-shape-2 {
            position: absolute;
            right: 60px;
            bottom: 48px;
        }

        .section-title-four {
            text-align: center;
            margin-bottom: 55px;

            .sub-title {
                color: $gt-text-color-2;
                font-weight: 400;
                line-height: 26px;
                justify-content: center !important;
            }

            .title {
                color: $gt-white;
                text-align: center;
                letter-spacing: -1.2px;

                @include breakpoint (max-lg) {
                    font-size: 45px;
                    line-height: 52px;
                }

                @include breakpoint (max-md) {
                    font-size: 40px;
                    line-height: 50px;
                }

                @include breakpoint (max-xs) {
                    font-size: 35px;
                    line-height: 40px;
                }

                @include breakpoint (max-xxsmall) {
                    font-size: 28px;
                    line-height: 35px;
                }

                @include breakpoint (max-xxxsmall) {
                    font-size: 25px;
                    line-height: 30px;
                }

                .bold-text {
                    font-weight: 700;
                    color: $gt-text-color-4;
                }

                span {
                    color: $gt-text-color-4;
                }
            }
        }

        .who-we-are-main-content {
            .marquee-card-content {
                border-radius: 100px;
                background: #C9F31D;
                padding: 34px 70px;
                position: relative;
                height: 120px;

                @include breakpoint (max-xxl) {
                    height: 80px;
                    padding: 0;
                }

                @include breakpoint (max-xl) {
                    height: 80px;
                    padding: 34px 70px;
                }

                .wrapper-rolling-text {
                    white-space: nowrap;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    height: auto;
                }

                .rolling-text {
                    display: inline-flex;
                    align-items: center;

                    .marquee-text {
                        color: #000;
                        font-family: "Plus Jakarta Sans";
                        font-size: 70px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 70px;
                        display: inline-block;
                        margin: 0 10px;

                        @include breakpoint (max-lg) {
                            font-size: 50px;
                            line-height: 60px;
                        }

                        @include breakpoint (max-lg) {
                            font-size: 45px;
                            line-height: 50px;
                        }
                    }
                }
            }

            .thumb {
                height: 120px;
                position: relative;

                @include breakpoint (max-xl) {
                    height: auto;
                }

                img {
                    border-radius: 100px;
                    max-height: 120px;
                    width: 100%;
                    object-fit: cover;

                    @include breakpoint (max-xl) {
                        min-height: 80px;
                    }
                }
            }
        }
    }
}