h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Inter", sans-serif !important;
	margin: 0px;
	padding: 0;
	color:#000 !important;
}

.simple-btn-white a {
	text-transform: capitalize !important;
	font-weight: 500 !important;
}